synth
synth.packed
synth.unpacked
synth.orig
synth.xz
synth.upx
synth.test
synth_xz.h
voice.c.bak
gen_sin_table
gen_env_table
gen_note_table
gen_euclid_table
sin_table.h
env_table.h
note_table.h
euclid_table.h
*.o
/tmp/*.wav
start.c
stub.c
