pkgbase = stretto
	pkgdesc = Tiny deterministic generative music synthesizer (C99, no malloc, single 128 KB arena)
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/quanticsoul4772/stretto
	arch = x86_64
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = libpulse
	depends = alsa-lib
	source = stretto-1.3.0.tar.gz::https://github.com/quanticsoul4772/stretto/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 26a50398d9d15a56733aee36f585dd2a72d2df0c75fafd8d151c0e6d2dd85c0f

pkgname = stretto
